<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doenças</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <a href="/" class="voltar">← Voltar</a>
        <h1>Consultar Doenças</h1>
    <button class="botao" onclick="window.location.href='/listadoencas'">Listar Doenças</button>
    <button class="botao" onclick="window.location.href='/consultar'">Consulta Específica</button>
</div>
</body>
</html>
