<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PesquisaNtech</title>
    <link rel="stylesheet" href="/style.css">
    <script>
        function validarFormulario(event) {
            const nomeTech = document.getElementById('nomeTech').value.trim();

            if (!nomeTech) {
                event.preventDefault(); // Impede o envio do formulário
                alert('Preencha o valor para pesquisar.');
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <a href="/consultar" class="voltar">← Voltar</a>
        <h1>Digite o Nome Técnico</h1>

        <form action="/pesquisantech" method="POST" onsubmit="validarFormulario(event)">
            
            <input type="text" id="nomeTech" name="nomeTech">

            <button type="submit">Pesquisar</button>
        </form>
    </div>
</body>
</html>
